header {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    align-items: center;
}

#header-logo {
    height: 3rem;
    width: 3rem;

    svg {
        height: 3rem;
        width: 3rem;
    }

    display: flex;
    align-items: center;
}

header {
    nav {
        height: 100%;
        align-items: center;
        display: flex;

        ul {
            display: flex;
            gap: 2rem;
            align-items: center;
            margin: auto;

            li {
                display: block;
                align-items: center;

                a {
                    color: black;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                    }

                    svg {
                        transition: 0.3s;

                        &:hover {
                            fill: #ea1414;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        position: sticky;
        top: 0;
        height: 4rem;
        background-color: white;
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
        z-index: 1000;
    }

    #navbar {
        display: flex;
        align-items: center;
        margin-left: auto; // Move the dropdown to the right
    }

    .hamburger {
        position: relative;
        height: 45px;
        margin: 10px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        z-index: 120;

        div {
            background-color: black;
            position: relative;
            width: 40px;
            height: 5px;
            margin-top: 7px;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
    }

    #meat {
        width: 50%;
        margin-left: auto;
    }

    #drop-toggle {
        display: none;

        &:checked+.hamburger .top {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-top: 22.5px;
        }

        &:checked+.hamburger .meat {
            width: 100%;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            margin-top: -5px;
        }

        &:checked~.dropdown {
            width: 100vw;
            height: 100vh;
        }
    }

    .dropdown {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        background-color: #ea1414;
        color: white;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 0;
        padding-top: 5rem;
        list-style: none;
        clear: both;
        text-align: center;
        overflow: hidden;
        transition: width 0.4s ease; // Change height to width
        z-index: 110;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        height: 100vh;

        a:first-child {
            margin-top: 40px;
        }

        a:last-child {
            margin-bottom: 40px;
        }

        .link1 {
            width: 100%;
            margin: 0;
            padding: 10px 0;
            font: 700 20px "Oswald", sans-serif;

            &:hover {
                background-color: #fff;
                color: rgb(61, 61, 61);
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }
    }
}