#projects {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    h2 {
        font-size: 2rem;
        text-decoration: underline;
    }
}

.project-list {
    list-style: none;
    width: 100%;
    padding: 0;

    .item-header {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        cursor: pointer;
        padding: 10px;
        transition: 0.2s ease-out;

        &:hover {
            background-color: #ea1414;
            color: white;

            >svg {
                fill: white;
            }
        }
    }

    li {
        border-top: 2px solid black;

        &:last-child {
            border-bottom: 2px solid black;
        }
    }

    .item-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-height: 0;
        overflow: hidden;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: all 0.5s ease-in-out;
        overflow-y: scroll;
        overflow-x: hidden;

        >*:first-child {
            padding-top: 1rem;
        }

        >*:last-child {
            padding-bottom: 1rem;
        }
    }

    .list-item.active .item-content {
        max-height: 800px;
    }
}

.collapseIcon {
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}

.list-item.active .collapseIcon {
    transform: rotate(0deg);
}

.pagelet {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}