@font-face {
    font-family: "Consolas";
    src: url("./fonts/Consolas.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Consolas";
    src: url("./fonts/Consolas-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}