* {
    box-sizing: border-box;
    scroll-margin-top: 5rem;
}

body {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin: auto;
    font-family: "Consolas", monospace;
}

a {
    text-decoration: none;
    color: inherit;

    &.button-big {
        background-color: #ea1414;
        width: fit-content;
        color: white;
        padding: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 0.5rem;
        transition: 0.1s;
    }

    &.button-small {
        background-color: #ea1414;
        width: fit-content;
        color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: 0.1s;
    }

    &.button-big:hover,
    &.button-small:hover {
        scale: 1.1;
    }
}


html {
    scroll-behavior: smooth;
}

.gray {
    color: #808080;
}

.light {
    font-weight: normal !important;
}

.bold {
    font-weight: bold !important;
}

.desktop-invisible {
    display: none !important;
}

@media screen and (max-width: 768px) {
    * {
        scroll-margin-top: 4rem;
    }

    body {
        gap: 3rem;
    }

    .desktop-invisible {
        display: flex !important;
    }

    .mobile-invisible {
        display: none;
    }

    a.button-big {
        width: auto;
        text-align: center;
    }
}